*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

::selection{

}


body{
    background: #F4F7FA;
    font-family: "Roboto", sans-serif;
}

